[Desktop Entry]
Name=Google Calendar
Comment=A simple desktop wrapper for Google Calendar.
# Corrected Exec command for running from source
Exec=sh -c "cd {your project address} && npm start"
Icon={your project address}/assets/icon.png
Terminal=false
Type=Application
Categories=Office;Calendar;
# This line is crucial and must match the 'class' in index.js
StartupWMClass=google-calendar-wrapper
